#loading-component {
  // background-color: #6cd6fe;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='145' height='145' viewBox='0 0 100 100'%3E%3Cg stroke='%2358CEFE' stroke-width='10.1' stroke-opacity='0'%3E%3Crect fill='%2358CEFE' x='-60' y='-60' width='96' height='240'/%3E%3C/g%3E%3C/svg%3E");
  // height: 100vh;

  // .cont-loading {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  // }

  // .cont-loading-item {
  //   position: absolute;
  //   top: -14em;
  //   left: calc(50% - (200px / 2));
  //   height: 100%;
  //   transition: 1s ease;
  // }

  // .tran-in {
  //   transform: translateY(56%);
  // }

  // .tran-out {
  //   transform: translateY(150%);
  // }

  #container {
    position: relative;
    top: calc(50% - (100px / 2));
    left: calc(50% - (100px / 2));
    width: 100px;
    height: 100px;
  }

  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }

  #spinner {
    fill: transparent;
    stroke: #fff;
    stroke-width: 7px;
    stroke-linecap: round;
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }

  .img-icon {
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    width: 80px;
  }
}
