<div id="gamemode-component">
  <div class="pos-rel w-p-100 jc-c">
    <div class="">
      <div  class="jc-c">
        <h2 class="c-w t-sh-4 h2-size">
          GAME MODE
        </h2>
      </div>
      <div class="jc-c gap-100 mt-3em">
        <div class="card bounce-anim" (click)="goToGame('solo')">
          <div class="card-i">
            <div class="title-card jc-c">
              <h4 class="m-0 c-w t-sh-2">
                SOLO SHOW
              </h4>
            </div>
            <div class="img-card">
              <img class="img-card-i" src="https://i.ibb.co/t3MtnHd/solo-mode.png">
            </div>
          </div>
        </div>
        <div class="card bounce-anim" (click)="goToGame('vs')">
          <div class="card-i">
            <div class="title-card jc-c">
              <h4 class="m-0 c-w t-sh-2">
                VS SHOW
              </h4>
            </div>
            <div class="img-card">
              <img class="img-card-i img-gray" src="https://i.ibb.co/4J9dfQd/vs-mode.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
