#main-card-component {
  .size {
    width: 7em;
    height: 9em;
  }

  .card-box {
    position: relative;
    perspective: 500px;
    cursor: pointer;
  }

  .flip-card {
    transform: rotateY(180deg);
  }

  .card {
    transform-style: preserve-3d;
    transition: all 0.4s linear;
  }

  .card-box:hover .card {
    scale: 1.08;
  }

  .front {
    position: absolute;
    backface-visibility: hidden;
    outline: 0.3em solid #fff;
    border-radius: 10px;
  }

  .front.back {
    transform: rotateY(180deg);
  }

  .img-card {
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 1280px) {
    .size {
      width: 7em;
      height: 9em;
    }
  }

  @media (max-width: 1024px) {
    .size {
      width: 5em;
      height: 7em;
    }
  }
}
