#game-solo-component {
  .cont-cards {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    gap: 28px;
  }

  @media (min-width: 1280px) {
    .cont-cards {
      padding: 1em;
    }
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
      gap: 20px;
    }
  }
  
  @media (max-width: 1024px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
      gap: 16px;
    }
  }

  @media (max-width: 970px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
      gap: 16px;
    }
  }

  @media (max-width: 740px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
      gap: 16px;
    }
  }
}
