#game-solo-component {
  .cont-cards {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    gap: 28px;
  }

  @media (min-width: 1280px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
      gap: 20px;
    }
  }

  @media (min-width: 1350px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      gap: 20px;
    }
  }

  @media (min-width: 1480px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
      gap: 20px;
    }
  }

  @media (min-width: 1610px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
      gap: 20px;
    }
  }

  @media (max-width: 1130px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
      gap: 20px;
    }
  }

  @media (max-width: 970px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
      gap: 20px;
    }
  }

  @media (max-width: 740px) {
    .cont-cards {
      grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
      gap: 20px;
    }
  }
}
