<div id="solo-mode-component">
  <div *ngIf="this.showLoading$ | async">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!(this.showLoading$ | async)">
    <!-- <div> -->
    <div>
      <app-title-score></app-title-score>
    </div>
    <div>
      <app-game></app-game>
    </div>
    <div>
      <app-modal-scores></app-modal-scores>
    </div>
  </div>
  <div *ngIf="showFinishGame$ | async">
    <app-modal-finish-game></app-modal-finish-game>
  </div>
  <div *ngIf="showToast$ | async">
    <app-toast></app-toast>
  </div>
</div>
