#modal-finish-game-component {
  .cont-modal-finish {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.4);
    transition: all 0.8s ease;
  }

  .modal-finish {
    position: relative;
    top: calc(50% - (18em / 2));
    left: calc(50% - (34em / 2));
    height: 18em;
    width: 34em;
    background: linear-gradient(
      180deg,
      rgba(50, 28, 100, 1) 50%,
      rgba(15, 109, 170, 1) 100%
    );
    outline: 0.4em solid #fff;
    border-radius: 0.4em;
    box-shadow: 10px 10px 8px 0px rgb(0 0 0);
  }

  .input-username{
    font-family: "Fredoka One", cursive;
    font-size: 2em;
    color: #2C3E50;
    padding: 0.8em;
    border-radius: 0.4em;
    border: none;
    box-shadow: 4px 4px 10px 2px rgb(0 0 0);
    transition: all 0.4s ease;
  }

  .input-username:hover {
    outline: 0.1em solid #F0D602;
  }

  .input-username:focus-visible {
    outline: 0.2em solid #F0D602;
    transform: scale(1.02);
  }

  .btn-close {
    font-family: "Fredoka One", cursive;
    background-color: #EB2997 ;
    color: #fff;
    border-radius: 0.6em;
    border: none;
    outline: 0.3em solid #fff;
    padding: 0.5em 1.4em;
    margin-top: 1em;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  .btn-close:focus {
    background-color: #e75dab;
    box-shadow: 6px 6px 6px 2px rgb(0 0 0);
  }

  .btn-close:disabled {
    background-color: #fa93cd;
  }
}
