/* You can add global styles to this file, and also import other style files */
$color-1: #ece7f0;
$color-2: #c7af95;
$color-3: #f0d602;
$color-4: #2fd8dd;
$color-5: #fc6e98;

html,
body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

// ==== Text ====
h1 {
  font-size: 72px;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
// ==== / Text ====
// ==== Color ====
.c-1 {
  color: $color-1;
}
.c-2 {
  color: $color-2;
}
.c-3 {
  color: $color-3;
}
.c-4 {
  color: $color-4;
}
.c-5 {
  color: $color-5;
}
.c-w {
  color: #fff;
}
// ==== / Color ====
// ==== Font size ====
.fs-1em {
  font-size: 1em;
}
.fs-2em {
  font-size: 2em;
}
.fs-3em {
  font-size: 3em;
}
.fs-4em {
  font-size: 4em;
}
.fs-5em {
  font-size: 5em;
}
// ==== / Font size ====
// ==== Shadow ====
.t-sh-2 {
  text-shadow: 2px 2px 2px #000;
}
.t-sh-4 {
  text-shadow: 4px 4px 4px #000;
}
// ==== / Shadow ====
// ==== Width ====
.w-p-100 {
  width: 100%;
}
// ==== / Width ====
// ==== Margin ====
.m-0 {
  margin: 0;
}
.mt-3em {
  margin-top: 3em;
}
// ==== / Margin ====
// ===== Flexbox =====
.fl {
  display: flex;
}
.jc-c {
  display: flex;
  justify-content: center;
}
.jc-sb {
  display: flex;
  justify-content: space-evenly;
}
.jc-start {
  display: flex;
  justify-content: flex-start;
}
.jc-end {
  display: flex;
  justify-content: flex-end;
}
.jc-around {
  display: flex;
  justify-content: space-around;
}
.jc-bet {
  display: flex;
  justify-content: space-between;
}
.al-i-al-cont {
  display: flex;
  align-items: center;
  align-content: center;
}
.al-i-end {
  display: flex;
  align-items: flex-end;
}
.al-i-c {
  display: flex;
  align-items: center;
}
// .lobby-elements {
//   flex-direction: column;
//   flex-wrap: wrap;
// }
.flex-column {
  display: flex;
  flex-direction: column;
}
// ===== / Flexbox =====
// ===== Gap =====
.gap-1em {
  gap: 1em;
}
.gap-100 {
  gap: 100px;
}
// ===== / Gap =====
// ==== Pointer Events ====
.point-ev-non {
  pointer-events: none;
}

.point-ev-all {
  pointer-events: all;
}
// ==== / Pointer Events ====
// ==== Animation ====
// ---- Bounce ----
.bounce-anim {
  animation: bounce-out 0.3s forwards linear;
}
.bounce-anim:hover {
  animation-duration: 0.3s;
  animation-name: bounce-in;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes bounce-in {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
// ---- / Bounce ----
// ==== / Animation ====
